<!DOCTYPE html>
<html>
<head>
    <title>Text Data</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h1>Data taken from database:</h1>

    {% for item in text_data %}
        <h2>{{ item.text }}</h2>
    {% endfor %}

</body>
</html>
